<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         cacheDirectory=".phpunit.cache"
                         backupGlobals="false">
    
    <testsuites>
        <testsuite name="Widget Unit Tests">
            <file>tests/unit/WidgetInitTest.php</file>
            <file>tests/unit/WidgetConfigTest.php</file>
            <file>tests/unit/WidgetHealthTest.php</file>
        </testsuite>
        <testsuite name="Widget Integration Tests">
            <file>tests/integration/WidgetIntegrationTest.php</file>
        </testsuite>
        <testsuite name="Widget E2E Tests">
            <file>tests/e2e/WidgetE2ETest.php</file>
        </testsuite>
    </testsuites>
    
    
    
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="WEB_CHAT_DEBUG" value="true"/>
        <env name="WEB_CHAT_API_KEY" value="test_api_key_123"/>
        <env name="WEB_CHAT_ADMIN_KEY" value="test_admin_key_456"/>
    </php>
    
    
</phpunit>
